@model IdentityProvider.Models.ViewModels.Operations.OperationPagedVm

@using IdentityProvider.Models.ViewModels
@using IdentityProvider.UI.Web.MVC5.Extensions


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayOutBSB.cshtml";
}

<style type="text/css">
    .OperationsDashboard_OperationsDatatable_create {
    }

    .dataTables_length {
        float: right !important;
    }
</style>

<script src="~/Scripts/Operations/Dashboard/AuditTrailDatatableWireup.js"></script>
<script src="~/Scripts/Operations/Dashboard/OperationsDatatableWireup.js"></script>

<script>
    var deleteUrl = "/Operation/Delete/";
    var toolTipUrl = '/Operation/Detail';
    var detailUrl = "/Operation/Detail";
    var editUrl = "/Operation/Edit";
    var insertUrl = "/Operation/Insert";

    $(document).ready(function () {

        $('#ShowInactive').change(function () {

            if (this.checked) {
                $(this).prop("checked", true);
                $('#ShowInactive').val(this.checked);
                $('#ShowInactive').prop("checked", true);
                $('#ShowInactive').attr("checked", true);
                $('#ShowInactiveHidden').val("true");
            } else {
                $(this).prop("checked", false);
                //$('#ShowInactive').val(this.checked);
                $('#ShowInactive').prop("checked", "");
                //$('#ShowInactive', true);
                $('#ShowInactive').attr("checked", "");
                $('#ShowInactiveHidden').val("false");
                $("#ShowInactive").removeAttr('checked');
            }
        });

        $('#ShowDeleted').change(function () {

            if (this.checked) {
                $(this).prop("checked", true);
                //$('#ShowDeleted').val(this.checked);
                $('#ShowDeleted').prop("checked", true);
                $('#ShowDeleted').attr("checked", true);
                $('#ShowDeletedHidden').val("true");
            } else {
                //$('#ShowDeleted').val(this.checked);
                $(this).prop("checked", false);
                $('#ShowDeleted').prop("checked", "");
                $('#ShowDeleted').attr("checked", "");
                $('#ShowDeletedHidden').val("false");
                $("#ShowDeleted").removeAttr('checked');
            }
        });
    });

    // Fetch number of active/deleted/inactivated operations from backend to be used in widgets
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Operation/FetchInfoOnOperations",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#activeOpsWidget").attr('data-to', response.ActiveItemCount);
                $("#activeOpsWidget").text(response.ActiveItemCount);
                $("#deletedOpsWidget").attr('data-to', response.DeletedItemCount);
                $("#deletedOpsWidget").text(response.DeletedItemCount);
                $("#inactiveOpsWidget").attr('data-to', response.InactiveItemCount);
                $("#inactiveOpsWidget").text(response.InactiveItemCount);
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });

    // Delete item from grid
    $(document).ready(function () {
        $(".deleteDialog").click(function (event) {
            event.preventDefault();
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id-value');
            itemDelete(id);
        });
    });

    // Item details modal, close modal button
    $('closebtn').on('click',
        function () {
            $('#mdModal').modal('hide');
            // TODO: load spinner here!
            $('#mdModal').find('.modal-body').html("");
        });


    $(document).ready(function () {
        var cardDropdowns = $('.selection');
        for (var i = 0; i < cardDropdowns.length; i++) {
            cardDropdowns[i].addEventListener('click', function (evt) {
                evt.stopPropagation();
            });
        };
    });

    $(document).ready(function () {
        var cardDropdowns = $('.form-group');
        for (var i = 0; i < cardDropdowns.length; i++) {
            cardDropdowns[i].addEventListener('click', function (evt) {
                evt.stopPropagation();
            });
        };
    });

    //table.columns().every( function () {
    //    var that = this;

    //    $('input', this.footer()).on('keydown', function (e) {

    //        if ( that.search() !== this.value ) {
    //            that.search( this.value ).draw();
    //        }

    //    } );
    //});
    var datatablesConString = "@Url.Action("AuditTrailDatatables", "AuditTrail")";
    var datatablesConStringForOperations = "@Url.Action("OperationsGetAll", "Operation")";
    var existTheme = $('.right-sidebar .demo-choose-skin li.active').data('theme');


</script>

<script src="~/Scripts/Operations/Dashboard/BootstrapMultipleSelect.js"></script>
<script src="~/Scripts/Operations/Dashboard/OperationsWidgetDateRangePicker.js"></script>
<script src="~/Scripts/Operations/Dashboard/AuditTrailWidgetDateRangePicker.js"></script>

<div class="container-fluid">

    <div class="block-header">
        <h4>DASHBOARD</h4>
    </div>

    @Html.Partial("Partial/_operationsHeaderPartial", Model)

    <div class="row">
        <div class="grid">
            <div class="item-sm">
                <div class="item-content">
                    <div class="info-box-sm bg-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">ACTIVE</div>
                            <div class="number count-to" id="activeOpsWidget" data-from="0" data-to="0" data-speed="15" data-fresh-interval="20">0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-sm">
                <div class="item-content">
                    <div class="info-box-sm bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">INACTIVE</div>
                            <div class="number count-to" id="inactiveOpsWidget" data-from="0" data-to="0" data-speed="15" data-fresh-interval="20">0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-sm">
                <div class="item-content">
                    <div class="info-box-sm bg-red hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">DELETED</div>
                            <div class="number count-to" id="deletedOpsWidget" data-from="0" data-to="0" data-speed="15" data-fresh-interval="20">0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-full-width">
                <div class="item-content">
                    @Html.Partial("../Shared/DragAndDropHandlePartial/_dragAndDropHandlePartial", Model)
                    <div class="card">

                        @Html.Partial("../Shared/DashboardCommons/_headerRightSideActionDropdown", model: Model.HeaderRightSideActionDropdownList.SingleOrDefault(i => i.WidgetId == "OperationsWidget"))

                        <div class="" style="background-color: whitesmoke; height: 450px; padding: 10px">
                            @Html.Partial("ChartPartial/_pieChartPartial", Model)
                        </div>

                    </div>
                </div>
            </div>




            <!-- ============================== -->
            <!-- == Operation datatable card == -->
            <!-- ============================== -->
            <div class="item-full-width">
                <div class="item-content">
                    @Html.Partial("../Shared/DragAndDropHandlePartial/_dragAndDropHandlePartial", Model)
                    <div class="card">

                        @Html.Partial("../Shared/DashboardCommons/_headerRightSideActionDropdown", model: Model.HeaderRightSideActionDropdownList.SingleOrDefault(i => i.WidgetId == "OperationsWidget"))

                        <div class="header cool-text">
                            <em style="font-size: 1.7em">
                                Operations
                            </em>
                            <em style="font-size: 1.0em">
                                <small>administrate the application operations</small>
                            </em>
                        </div>

                        @Html.HiddenFor(model => Model.DateRangePickerOnOperationsStartHidden)
                        @Html.HiddenFor(model => Model.DateRangePickerOnOperationsEndHidden)

                        <!-- Operations pickers -->
                        <div style="text-align: center">
                            <div style="width: 95%; display: inline-block">

                                <table class="table table-light table-condensed" data-classes="table" style="align-content: center; position: center; background-color: whitesmoke; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    <thead></thead>
                                    <tbody>
                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- Date range picker -->

                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" id="OperationsDashboard_OperationsWidget_DateRange" name="OperationsDashboard_OperationsWidget_DateRange" style=" background-color: whitesmoke">
                                                        <label class="form-label">Date range</label>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">
                                                <!-- Show deleted records -->
                                                <input type="hidden" id="ShowDeletedHidden" name="ShowDeleted" />
                                                <div style="float: left;">
                                                    <input id="ShowDeleted" name="ShowDeleted" class="filled-in chk-col-pink" type="checkbox" @(Model.ShowDeleted ? "checked" : "")>
                                                    <label for="ShowDeleted">Show deleted (default: no)</label>
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">
                                                <!-- Show inactive records -->
                                                <input type="hidden" id="ShowInactiveHidden" name="ShowInactive" />
                                                <div style="float: left;">
                                                    <input id="ShowInactive" name="ShowInactive" class="filled-in chk-col-pink" type="checkbox" @(Model.ShowInactive ? "checked" : "")>
                                                    <label for="ShowInactive">Show inactive (default: yes)</label>
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">
                                                <div class="form-group form-float">
                                                    <div class="form-line" style="float: left;">
                                                        <input class="form-control" type="text" id="searchStringOperationsMainGrid" name="searchStringOperationsMainGrid" style="float: left; background-color: whitesmoke" />
                                                        <label class="form-label"> Enter search criteria...</label>
                                                    </div>
                                                </div>
                                                <div class="form-group form-float" style="padding-left: 0px; float: left; width: 99%; background-color: whitesmoke">
                                                    <button class="btn bg-pink waves-effect btn-xs" id="submitSearchOperationsMainGrid" style="float: left; background-color: whitesmoke" type="submit" name="submitSearchOperationsMainGrid" data-toggle="tooltip" data-placement="right" title="" data-original-title="Begin search"><i class="material-icons">search</i><span> Search</span></button>
                                                </div>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- #END# Operations pickers -->

                        <div style="width: 90%; margin: 0 auto;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 20%; margin: 6px auto; padding-bottom: 10px">
                                            <button class="btn btn-xs bg-pink waves-effect OperationsDashboard_OperationsDatatable_create"><i class="material-icons">create</i><span> Create new</span></button>
                                        </td>

                                        <td style="width: 80%; margin: 0 auto;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table id="OperationsDashboard_OperationsDatatable" style="width: 100%" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Active</th>
                                        <th>Deleted</th>
                                        <th>CreatedDate</th>
                                        <th>ModifiedDate</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    @*<tr>
                                            <th>UserName</th>
                                            <th>TableName</th>
                                            <th>UpdatedAt</th>
                                            <th>OldValue</th>
                                            <th>NewValue</th>
                                        </tr>*@
                                </tfoot>

                            </table>
                        </div>

                        <div>
                            <hr />
                        </div>
                        <div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================== -->
            <!-- #END# Operation Datatable card -->
            <!-- ============================== -->
            <!-- ====================== -->
            <!-- == Audit trail card == -->
            <!-- ====================== -->
            <div class="item-full-width">
                <div class="item-content">
                    @Html.Partial("../Shared/DragAndDropHandlePartial/_dragAndDropHandlePartial", Model)
                    <div class="card">

                        @Html.Partial("../Shared/DashboardCommons/_headerRightSideActionDropdown", model: Model.HeaderRightSideActionDropdownList.SingleOrDefault(i => i.WidgetId == "OperationsWidget"))

                        <div class="header cool-text">
                            <em style="font-size: 1.7em">
                                Audit trail
                            </em>
                            <em style="font-size: 1.0em">
                                <small>View the audit trail</small>
                            </em>
                        </div>

                        <!-- Audit trail pickers -->
                        <div style="text-align: center">
                            <div style="width: 95%; display: inline-block">

                                <table class="table table-light table-condensed" data-classes="table" style="align-content: center; position: center; background-color: whitesmoke; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    <thead></thead>

                                    <tbody>
                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- UserName picker -->
                                                <div class="form-group form-float">
                                                    <div class="form-line" style="float: left;">
                                                        <input class="form-control" type="text" id="OperationsDashboard_AuditTrailDatatable_SearchStringUserName" name="OperationsDashboard_AuditTrailDatatable_SearchStringUserName" style="float: left; background-color: whitesmoke" />
                                                        <label class="form-label"> User name </label>
                                                    </div>
                                                </div>


                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- Date range picker -->
                                                <div class="form-group form-float">
                                                    <div class="form-line" style="float: left; width: 99%">
                                                        <input class="form-control" type="text" id="OperationsDashboard_AuditTrailDatatable_DateRange" name="OperationsDashboard_AuditTrailDatatable_DateRange" style="float: left; background-color: whitesmoke" />
                                                        <label class="form-label"> Date range </label>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- Table name picker -->
                                                <div class="form-group form-float">
                                                    <label style="float: left;"> Table name </label>
                                                </div>


                                                <div class="multiselect-parent form-group" style="float: right;">
                                                    <div class="form-line" style="float: left; width: 100%;">
                                                        <select id="OperationsDashboard_AuditTrailDatatable_TableName_MS" multiple="multiple" class="form-control" data-width="100%">
                                                        </select>

                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- Action (Insert, Delete, Update) picker -->
                                                <div class="form-group form-float">
                                                    <label style="float: left;"> Action </label>
                                                </div>
                                                <div class="multiselect-parent form-group" style="float: right;">
                                                    <div class="form-line" style="float: left; width: 100%;">
                                                        <select id="OperationsDashboard_AuditTrailDatatable_Actions_MS" name="OperationsDashboard_AuditTrailDatatable_Actions_MS" multiple="multiple" class="form-control" style="float: right;" data-width="100%">
                                                            <option value="update">Update</option>
                                                            <option value="delete">Delete</option>
                                                            <option value="insert">Insert</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- OldValue picker -->

                                                <div class="form-group form-float">
                                                    <div class="form-line" style="float: left;">
                                                        <input class="form-control" type="text" id="OperationsDashboard_AuditTrailDatatable_SearchStringOldValue" name="OperationsDashboard_AuditTrailDatatable_SearchStringOldValue" style="float: left; background-color: whitesmoke" />
                                                        <label class="form-label"> Old value </label>
                                                    </div>
                                                </div>
                                                @*<div class="form-group form-float" style="margin-bottom: 0px; float: left; width: 99%; background-color: whitesmoke">
                                                        <button class="btn bg-pink waves-effect btn-xs" id="OperationsDashboard_AuditTrailDatatable_SubmitSearchOldValue" style="float: left; background-color: whitesmoke" type="submit" name="submitSearchOperationsMainGrid" data-toggle="tooltip" data-placement="right" title="" data-original-title="Begin search"><i class="material-icons">search</i><span> Search</span></button>
                                                    </div>*@

                                            </td>

                                        </tr>

                                        <tr>

                                            <td style="background-color: whitesmoke">

                                                <!-- NewValue picker -->

                                                <div class="form-group form-float">
                                                    <div class="form-line" style="float: left;">
                                                        <input class="form-control" type="text" id="OperationsDashboard_AuditTrailDatatable_SearchStringNewValue" name="OperationsDashboard_AuditTrailDatatable_SearchStringNewValue" style="float: left; background-color: whitesmoke" />
                                                        <label class="form-label"> New value </label>
                                                    </div>
                                                </div>
                                                @*<div class="form-group form-float" style="margin-bottom: 0px; float: left; width: 99%; background-color: whitesmoke">
                                                        <button class="btn bg-pink waves-effect btn-xs" id="OperationsDashboard_AuditTrailDatatable_SubmitSearchNewValue" style="float: left; background-color: whitesmoke" type="submit" name="submitSearchOperationsMainGrid" data-toggle="tooltip" data-placement="right" title="" data-original-title="Begin search"><i class="material-icons">search</i><span> Search</span></button>
                                                    </div>*@
                                                <div class="form-group form-float" style="margin-bottom: 0px; float: left; width: 99%; background-color: whitesmoke">
                                                    <button class="btn bg-pink waves-effect btn-xs" id="OperationsDashboard_AuditTrailDatatable_SubmitSearchUserName" style="float: left; background-color: whitesmoke" type="submit" name="OperationsDashboard_AuditTrailDatatable_SubmitSearchUserName" data-toggle="tooltip" data-placement="right" title="" data-original-title="Begin search"><i class="material-icons">search</i><span> Search</span></button>
                                                </div>
                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>

                        <!-- #END# Audit trail pickers -->

                        <div style="width:90%; margin:0 auto;">
                            <table id="OperationsDashboard_AuditTrailDatatable" style="width:100%" class="display table table-striped table-hover">

                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>TableName</th>
                                        <th>Action</th>
                                        <th>UpdatedAt</th>
                                        <th>OldValue</th>
                                        <th>NewValue</th>
                                        <th>UserName</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    @*<tr>
                                            <th>UserName</th>
                                            <th>TableName</th>
                                            <th>UpdatedAt</th>
                                            <th>OldValue</th>
                                            <th>NewValue</th>
                                        </tr>*@
                                </tfoot>

                            </table>
                        </div>

                        <div>
                            <hr />
                        </div>
                        <div>
                            <hr />
                        </div>
                    </div>

                </div>
            </div>
            <!-- ====================== -->
            <!-- #END# Audit trail card -->
            <!-- ====================== -->
        </div>
        <!-- #END# Muuri grid -->
    </div>
</div>
