@model IdentityProvider.Models.ViewModels.Operations.OperationVm

<style type="text/css">
    .editDialog { }

    .detailsDialog { }

    .deleteDialog { }
</style>

@*<button type="submit" class="btn bg-purple waves-effect btn-xs editDialog" data-toggle="tooltip" data-placement="right" title="" data-original-title="Edit record">
    <i class="material-icons">edit</i>  <span>
        Edit
    </span>
</button>
<button type="submit" class="btn bg-purple waves-effect btn-xs detailsDialog" data-id-value="@Model.Operation.Id" data-name="@Model.Operation.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="View details">
    <i class="material-icons">view_list</i>  <span>
        Details
    </span>
</button>
<button type="submit" class="btn bg-purple waves-effect btn-xs deleteDialog" data-id-value="@Model.Operation.Id" data-name="@Model.Operation.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete the record">
    <i class="material-icons">delete_forever</i>
</button>*@

<div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
    <button type="button" class="btn bg-pink waves-effect editDialog" data-toggle="tooltip" data-placement="right" title="" data-original-title="Edit record">
        <i class="material-icons">edit</i>  
        <span>
            Edit
        </span>
    </button>
    <button type="button" class="btn bg-pink waves-effect detailsDialog" data-id-value="@Model.Operation.Id" data-name="@Model.Operation.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="View details">
        <i class="material-icons">view_list</i>  
        <span>
            Details
        </span>
    </button>
    <button type="button" class="btn bg-pink waves-effect deleteDialog" data-id-value="@Model.Operation.Id" data-name="@Model.Operation.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete the record">
         <i class="material-icons">delete_forever</i>
    </button>
</div>