@model IdentityProvider.Models.ViewModels.Operations.OperationPagedVm

<tbody>
    @foreach (var item in Model.Operations)
    {
        <tr>
            <td class="font-bold" style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.Name)
            </td>
            <td style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.Description)
            </td>
            <td style="text-align: left; width: 50px; word-wrap: break-word;">
                @if (item.Operation.Active)
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: green" title="Active">check_circle_outline</i>
                }
                else
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: darkred" title="Inactive">domain_disabled</i>
                }
            </td>
            @*<td style="text-align: center">
                    @if (item.Deleted)
                    {
                        <i class="material-icons align-center" style="cursor: not-allowed; color: red" title="Deleted">delete_forever</i>
                    }
                    else
                    {
                        <i class="material-icons align-center" style="cursor: not-allowed; color:darkmagenta" vtitle="Active">check_circle_outline</i>
                    }
                </td>*@
            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.DateCreated)
            </td>
            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.DateModified)
            </td>
            <td style="text-align: left; width: 190px; word-wrap: break-word;">
                @Html.Partial("Partial/_actionButtonsPartial" , item)
            </td>
            @*<td class="filler" style="border: none !important; border-color: white !important; border-width: 0px !important"></td>*@
        </tr>
    }
</tbody>
