@model IdentityProvider.Models.ViewModels.Operations.OperationAuditTrailPagedVm

<tbody>
    @foreach (var item in Model.OperationAuditTrail)
    {
        <tr>
            <td class="font-bold" style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.Id)
            </td>

            <td style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.TableName)
            </td>

            @*<td style="text-align: left; width: 50px; word-wrap: break-word;">
                        @if (item.Operation.Active)
                        {
                            <i class="material-icons align-center" style="cursor: not-allowed; color: green" title="Active">check_circle_outline</i>
                        }
                        else
                        {
                            <i class="material-icons align-center" style="cursor: not-allowed; color: darkred" title="Inactive">domain_disabled</i>
                        }
                </td>*@

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.UserName)
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.OldData)
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.NewData)
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.TableId)
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.UpdatedAt)
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Operation.Action)
            </td>

        </tr>
    }
</tbody>
