@using Module.CrossCutting.Models.ViewModels.Operations
@using IdentityProvider.Web.MVC6.Extensions;
@model OperationPagedVm

<div class="body container-fluid" style="width: 100%; padding: 15px; position: center">

    <table class="table table-striped table-light table-condensed my-fixed-layout-table" id="OperationsGrid">
        <thead>
            <tr>
                <th style="">
                    <span data-toggle="tooltip" data-placement="auto top" title="Sort by name">
                        <a asp-controller="Operations" asp-action="OperationsGetAllPaged" asp-route-sortOrder="@ViewBag.NameSortParam">Name</a>
                        @Html.SortIdentifier(Model.CurrentSortOrder, "Name")
                    </span>
                </th>
                <th style="">
                    <span data-toggle="tooltip" data-placement="auto top" title="Sort by description">
                        <a asp-controller="Operations" asp-action="OperationsGetAllPaged" asp-route-sortOrder="@ViewBag.DescriptionSortParam">Description</a>
                        @Html.SortIdentifier(Model.CurrentSortOrder, "Description")
                    </span>
                </th>
                <th style="width: 50px">
                    <span style="text-align: left;" data-toggle="tooltip" data-placement="top" title="Sort by active status">
                        <a asp-controller="Operations" asp-action="OperationsGetAllPaged" asp-route-sortOrder="@ViewBag.ActiveSortParam">Active</a>
                        @Html.SortIdentifier(Model.CurrentSortOrder, "Active")
                    </span>
                </th>
                <th style="width: 148px">
                    <span style="text-align: left" data-toggle="tooltip" data-placement="top" title="Sort by created date">
                        <a asp-controller="Operations" asp-action="OperationsGetAllPaged" asp-route-sortOrder="@ViewBag.DateCreatedSortParam">Created_Date</a>
                        @Html.SortIdentifier(Model.CurrentSortOrder, "Created_Date")
                    </span>
                </th>
                <th style="width: 148px">
                    <span style="text-align: left" data-toggle="tooltip" data-placement="top" title="Sort by modified date">
                        <a asp-controller="Operations" asp-action="OperationsGetAllPaged" asp-route-sortOrder="@ViewBag.DateModifiedSortParam">Modified_Date</a>
                        @Html.SortIdentifier(Model.CurrentSortOrder, "Modified_Date")
                    </span>
                </th>
                <th style="width: 190px">
                    <span style="text-align: left" data-toggle="tooltip" data-placement="top" title="Actions available on selected item">
                        <span>
                            Actions
                        </span>
                        <i class="material-icons" style="font-size: 1em; color: pink" title="Actions">build</i>
                    </span>
                </th>
            </tr>
        </thead>
        <partial name="Partial/_operationsPartial" model="Model" />
    </table>
</div>
