@model IdentityProvider.Models.ViewModels.Resources.ResourceDto

<style type="text/css">
    .editDialog { }

    .detailsDialog { }

    .deleteDialog { }
</style>

<div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
    <button type="button" class="btn themed-buttons-red waves-effect editDialog" data-id-value="@Model.Id" data-name="@Model.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="Edit record">
        <i class="material-icons">edit</i>  
        <span>
            Edit
        </span>
    </button>
    <button type="button" class="btn themed-buttons-red waves-effect detailsDialog" data-id-value="@Model.Id" data-name="@Model.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="View details">
        <i class="material-icons">view_list</i>  
        <span>
            Details
        </span>
    </button>
    <button type="button" class="btn themed-buttons-red waves-effect deleteDialog" data-id-value="@Model.Id" data-name="@Model.Name" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete the record">
         <i class="material-icons">delete_forever</i>
    </button>
</div>