@model IdentityProvider.Models.ViewModels.Resources.ResourcePagedVm

<tbody>
    @foreach (var item in Model.Resources)
    {
        <tr>
            <td class="font-bold" style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align: left; width: 50px; word-wrap: break-word;">
                @if (item.Active)
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: green" title="Active">check_circle_outline</i>
                }
                else
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: darkred" title="Inactive">domain_disabled</i>
                }
            </td>

            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td style="text-align: left; width: 190px; word-wrap: break-word;">
                @Html.Partial("Partial/_actionButtonsPartial" , item)
            </td>

        </tr>
    }
</tbody>
