@model IdentityProvider.Models.ViewModels.Resources.ResourceVm
<style type="text/css">

    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        table-layout: auto !important;
        border-collapse: collapse !important;
        width: 100% !important;
    }

        table .absorbing-column {
            width: 100% !important;
        }

        table td {
            white-space: nowrap;
        }

        table, table td {
            border: 0 solid #fff;
            background-color: #ffffff
        }

            table, table th {
                border: 0 solid #fff;
                background-color: #ffffff
            }

    .cool-text {
        font-family: "Montserrat", sans-serif;
    }
</style>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="header cool-text">
            <em style="font-size: 1.7em">
                Operations
            </em>
            <em style="font-size: 0.9em">
                <small>Details</small>
            </em>
        </div>
        <div class="body" style="width:100% !important">
            <table class="table-light">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="top">
                            <b>@Html.DisplayNameFor(item => item.Resource.Name)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Resource.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.DisplayNameFor(item => item.Resource.Description)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(item => item.Resource.Description)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.DisplayNameFor(item => item.Resource.Active)</b>
                        </td>
                        <td>
                            @if (Model.Resource.Active)
                            {
                                <i class="material-icons align-center" style="cursor: not-allowed; color: green" title="Active">check_circle_outline</i>
                            }
                            else
                            {
                                <i class="material-icons align-center" style="cursor: not-allowed; color: darkred" title="Inactive">domain_disabled</i>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.DisplayNameFor(item => item.Resource.ActiveFrom)</b>
                        </td>
                        <td>
                            @if (Model.Resource.ActiveFrom != DateTime.MinValue)
                            {
                                @Html.DisplayFor(item => item.Resource.ActiveFrom)

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.DisplayNameFor(item => item.Resource.ActiveTo)</b>
                        </td>
                        <td>
                            @if (Model.Resource.ActiveTo != DateTime.MinValue)
                            {
                                @Html.DisplayFor(item => item.Resource.ActiveTo)

                            }
                        </td>
                    </tr>
                    @if (Model.Resource.UserMayViewDeletedProp)
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.Deleted)</b>
                            </td>
                            <td>
                                @if (Model.Resource.Deleted)
                                {
                                    <i class="material-icons align-center" style="cursor: not-allowed; color: red" title="Deleted">delete_forever</i>
                                }
                                else
                                {
                                    <i class="material-icons align-center" style="cursor: not-allowed; color: darkmagenta" vtitle="Active">check_circle_outline</i>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <b>@Html.DisplayNameFor(item => item.Resource.DateDeleted)</b>
                            </td>
                            <td>
                                @if (Model.Resource.DateDeleted != DateTime.MinValue)
                                {
                                    @Html.DisplayFor(item => item.Resource.DateDeleted)

                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DeletedBy)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(item => item.Resource.DeletedBy)
                            </td>
                        </tr>
                    }
                    else
                    {
                        // may not view deletion related audit data...
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.Deleted)</b>
                            </td>
                            <td>No permission to view this data</td>
                        </tr>
                        <tr>
                            <td>

                                <b>@Html.DisplayNameFor(item => item.Resource.DateDeleted)</b>
                            </td>
                            <td>No permission to view this data</td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DeletedBy)</b>
                            </td>
                            <td>No permission to view this data</td>
                        </tr>
                    }

                    @if (Model.Resource.UserMayViewCreatedProp)
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DateCreated)</b>
                            </td>
                            <td>
                                @if (Model.Resource.DateCreated != DateTime.MinValue)
                                {
                                    @Html.DisplayFor(item => item.Resource.DateCreated)
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.CreatedBy)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(item => item.Resource.CreatedBy)
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DateCreated)</b>
                            </td>
                            <td>
                                No permission to view this data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.CreatedBy)</b>
                            </td>
                            <td>
                                No permission to view this data
                            </td>
                        </tr>

                    }

                    @if (Model.Resource.UserMayViewLastModifieddProp)
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DateModified)</b>
                            </td>
                            <td>
                                @if (Model.Resource.DateModified != DateTime.MinValue)
                                {
                                    @Html.DisplayFor(item => item.Resource.DateModified)
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.ModifiedBy)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(item => item.Resource.ModifiedBy)
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.DateModified)</b>
                            </td>
                            <td>
                                No permission to view this data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(item => item.Resource.ModifiedBy)</b>
                            </td>
                            <td>
                                No permission to view this data
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
