@*
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
}
<style>
    /*.background {
        background: url('../../Content/img/android-material-4.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
</style>

<script src="~/bower_components/adminbsb-materialdesign/js/demo.js"></script>

<div class="menu">
    <ul class="list">
        <li class="active">
            <a href="@(Url.Action("Index", "Home"))">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Contact")">
                <i class="material-icons">swap_calls</i>
                <span>Contact</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("Index", "Seed"))">
                <i class="material-icons">build</i>
                <span>Database Seeder (yeah really)</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("TestRepostoryQueries", "Home"))">
                <i class="material-icons">assignment_turned_in</i>
                <span>Test query object</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("OperationsGetAllPaged", "Operation"))">
                <i class="material-icons">list_alt</i>
                <span>List of all operations</span>
            </a>
        </li>
        <li>
            <a href="@(Url.Action("ResourcesGetAllPaged", "Resource"))">
                <i class="material-icons">list_alt</i>
                <span>List of all resources</span>
            </a>
        </li>
    </ul>
</div>


@*@if (User.IsInRole("Role"))
    {
    }*@