@{
    ViewBag.Layout = null;
}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<li class="dropdown">

    @if (Request.IsAuthenticated)
    {
        @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { title = "Manage" })
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            }*@


        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <img src="~/Content/img/guest-image4.jpg" alt="User" style="margin-bottom: 15px" class="avatarCustomSmall" />
        </a>

        <ul class="dropdown-menu" style="padding-top: 10px; width: 270px">

            <!-- User image -->
            <li class="user-header" style="padding: 5px">
                <div class="" style="text-align: center;">
                    <p>
                        <b>Bruno Bozic - Developer</b>
                        <br />
                        <small>Member since Nov. 2012</small>
                    </p>
                </div>
            </li>

            <li role="separator" class="divider"></li>

            <!-- Menu Body -->
            <li class="user-body" style="padding: 8px">

                <div style="text-align: center;">
                    <div class="avatarCustom">
                        <img src="~/Content/img/guest-image4.jpg" alt="User Image" />
                    </div>
                </div>

                <!-- Quote -->
                <div style="text-align: center;">
                    <p>
                        <blockquote>Enough of this. Vader, release him!</blockquote>
                    </p>
                </div>


                <!-- Render the test partial here -->
                <!-- Render the test partial here -->
                <!-- Render the test partial here -->
                <!-- need to get data somehow at this point and pass into the partial view -->
                @*@Html.Partial("../AccountAdministration/Partial/_accountAdministrationLanding", Model)*@
                @Html.Action("Index", "AccountAdministration")
                <!-- Render the test partial here -->
                <!-- Render the test partial here -->
                <!-- Render the test partial here -->
                <!-- Render the test partial here -->


                <div class="" style="padding-bottom: 12px">
                    <a href="@Url.Action("ChangePassword", "Account")" class="">
                        @*<i class="material-icons">edit</i>*@
                        <span>
                            <strong>Change your password</strong>
                        </span>
                    </a>
                </div>


                <div class="card" style="padding: 12px">
                    <p style="font-size: small; padding-bottom: 2px;">
                        LogonUserIdentity: @Request.LogonUserIdentity.Name
                    </p>
                    <p style="font-size: small; padding-bottom: 2px;">
                        UserName: @Request.GetOwinContext().Authentication.User.Identity.Name
                    </p>
                    <p style="font-size: small; padding-bottom: 2px;">
                        Browser: @Request.Browser.Browser
                    </p>
                    <p style="font-size: small; padding-bottom: 2px;">
                        Last login:
                    </p>
                    <p style="font-size: small; padding-bottom: 2px;">
                        Email confirmed:
                    </p>
                    <p style="font-size: small; padding-bottom: 0px;">
                        Locked out:
                    </p>
                </div>

                <!-- Other items -->
                @*<div class="col-xs-4 text-center">
                            <a href="#"><i class="material-icons">group</i>Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#"><i class="material-icons">shopping_cart</i>Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#"><i class="material-icons">favorite</i>Friends</a>
                    </div>*@
            </li>


            <!-- Menu Footer-->
            <li class="user-footer box" style="padding: 5px">
                <div class="pull-left">
                    <a href="@Url.Action("LogOff", "Account")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">create</i>
                        <span>
                            <strong>Log Off</strong>
                        </span>
                    </a>
                </div>

                <div class="pull-right">
                    @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { title = "Manage" })*@
                    <a href="@Url.Action("AdministerAccount", "AccountAdministration")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">create</i>
                        <span>
                            <strong>Administer account</strong>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    }
    else
    {
        @*<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="align-self:center" role="button">
                    <img src="~/Content/img/guest-image.jpg" alt="User" class="avatar" style="margin-bottom:15px" />
            </a>*@

        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <img src="~/Content/img/guest-image.jpg" alt="User" class="avatarCustomSmall" style="margin-bottom: 15px" />
        </a>

        <ul class="dropdown-menu" style="padding-top: 10px; width: 270px">

            <!-- User image -->
            <li class="user-header">
            </li>

            <!-- Menu Body -->
            <li class="user-body">
                <div class="spinner-block">
                    <div class="profile-circle">
                        <img src="~/Content/img/guest-image.jpg" class="avatar-profile" alt="User Image" />
                        <p style="color: white; padding: 8px;">
                            <b> You are not logged in.</b>
                        </p>
                        <div class="spinner spinner-1">

                        </div>
                    </div>
                </div>

                <!-- Other items -->
                @*<div class="col-xs-4 text-center">
                    <a href="#"><i class="material-icons">group</i>Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#"><i class="material-icons">shopping_cart</i>Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#"><i class="material-icons">favorite</i>Friends</a>
                    </div>*@
            </li>

            <!-- Menu Footer-->
            <li class="user-footer box" style="padding: 5px">
                <div class="pull-left">
                    <a href="@Url.Action("Login", "Account")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">account_circle</i>
                        <span>
                            <strong>Log In</strong>
                        </span>
                    </a>
                </div>

                <div class="pull-right">
                    <a href="@Url.Action("Register", "Account")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">create</i>
                        <span>
                            <strong>Register</strong>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    }
</li>

<script>

    var accountAdministrationUrl = "@Url.Action("Index", "AccountAdministration")";

    console.log('accountAdministrationUrl: ' + accountAdministrationUrl);

    $(document).ready(function() {
        $(".dropdown-menu").click(function(event) {

            // event.preventDefault();

            var options = { 'backdrop': 'static', keyboard: true, focus: true };

            console.log('fetching data from: ' + accountAdministrationUrl);

            //$.ajax({
            //    type: "GET",
            //    url: accountAdministrationUrl,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    success: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html(response);
            //    },
            //    failure: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html("Problem loading your data...");
            //    },
            //    error: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html("Problem loading your data...");
            //    }
            //});
        });
    });
</script>

<style>
    .avatarCustomSmall {
        border: solid 2px #54BE69;
        border-left-color: #D5EDDA;
        border-radius: 50%;
        display: inline-block;
        height: 40px;
        padding: 2px;
        position: relative;
        width: 40px;
    }

    .avatarCustom {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid 4px #54BE69;
        border-left-color: #D5EDDA;
        border-radius: 50%;
        display: inline-block;
        height: 180px;
        padding: 6px;
        position: relative;
        transform: rotate(45deg);
        width: 180px;
    }

        .avatarCustom img {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            border-radius: 50%;
            display: block;
            transform: rotate(-45deg);
        }

        .avatarCustom:before, .avatarCustom:after {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            background: #fff;
            content: '';
            position: absolute;
            transform: rotate(-45deg);
            z-index: -1;
        }

        .avatarCustom:before {
            height: 4px;
            left: 4px;
            margin-top: -2px;
            right: -10px;
            top: 50%;
        }

        .avatarCustom:after {
            bottom: -10px;
            left: 50%;
            margin-left: -2px;
            top: 4px;
            width: 4px;
        }
</style>