<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Material Design</title>

    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!--------------------------
    | Stylesheets here |
    -------------------------->
    <!-- Bootstrap Core Css -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Optional Bootstrap theme -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- Bootstrap Datepicker  -->
    <link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />

    <!-- Datatables Css -->

    <link href="~/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/select/1.2.7/css/select.bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <link href="~/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/bower_components/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/colreorder/1.5.0/css/colReorder.bootstrap.min.css" />

    <!-- Waves Effect Css -->
    <link href="~/bower_components/Waves/dist/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/bower_components/animate.css/animate.css" rel="stylesheet" />

    <!-- font-awesome -->
    <link href="~/bower_components/adminbsb-materialdesign/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- materialize -->
    @*<link href="~/bower_components/adminbsb-materialdesign/css/materialize.css" rel="stylesheet" />*@

    @*<link href="~/bower_components/adminbsb-materialdesign/plugins/materialize-css/css/materialize.css" rel="stylesheet" />*@
    @*<link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@

    <!-- daterangepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Select2 -->
    <link href="~/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" />

    <link href="~/bower_components/adminbsb-materialdesign/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />


    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/bower_components/adminbsb-materialdesign/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/bower_components/adminbsb-materialdesign/css/style.css" rel="stylesheet" />

    <!-- AdminBSB Themes. Recolor buttons (TODO) -->
    <link href="~/Content/css/themed-buttons-deep-purple.css" rel="stylesheet" />
    <link href="~/Content/css/themed-buttons-red.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/popover-overrides.css" rel="stylesheet" />
    <link href="~/bower_components/pretty-checkbox/dist/pretty-checkbox.css" rel="stylesheet" />
    <link href="~/bower_components/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/MakeTableResponsive.css" rel="stylesheet" />*@

    <style>

        .grid {
            position: relative;
        }

        .item-sm {
            display: block;
            position: absolute;
            width: 130px;
            height: 60px;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item {
            display: block;
            position: absolute;
            width: 250px;
            height: 110px;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item-full-width {
            display: block;
            position: absolute;
            width: 99%;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item-half-width {
            display: block;
            position: absolute;
            width: 45%;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item.muuri-item-hidden {
            z-index: 0;
        }

        .item.muuri-item-releasing {
            z-index: 2;
        }

        .item.muuri-item-dragging {
            z-index: 3;
        }

        .item-content {
            position: relative;
            width: 99%;
            height: 99%;
            /*text-align: center;
            background: red;
            font-size: 50px;
            color: white;*/
            /*cursor: pointer;*/
        }

        .handleForDragandDrop {
            position: relative;
            cursor: pointer;
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

        .item.muuri-item-dragging .item-content {
            background: blue;
        }

        .item.muuri-item-releasing .item-content {
            background: blueViolet;
        }

        .item-full-width.muuri-item-dragging .item-content {
            background: blue;
        }

        .item-full-width.muuri-item-releasing .item-content {
            background: blueViolet;
        }

        table {
            table-layout: auto !important;
            border-collapse: collapse !important;
            width: 100% !important;
        }

        .navbar {
            position: fixed !important
        }

        .block-header {
            padding-top: 65px !important;
        }

        .dataTables_processing {
            z-index: 11000 !important;
            padding-top: 1px !important;
        }

        .dataTables_loadingRecords {
            z-index: 11000 !important;
            padding-top: 1px !important;
        }

        .select2-results__option {
            text-align: left !important;
        }

        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #E91E63 !important;
            color: white !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: white !important;
        }

        body, html {
            font-size: 11px !important;
        }
    </style>




    <!------------------------------
    | Very important scripts here |
    ------------------------------->
    <!-- Jquery Core -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>*@
    <script src="~/bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-validation/dist/jquery.validate.js"></script>

    <script src="~/bower_components/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- DateRangePicker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Moment -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <!-- Muuri -->
    <script src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js"></script>
    <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://unpkg.com/muuri@0.7.0/dist/muuri.min.js"></script>

    <script src="~/bower_components/adminbsb-materialdesign/plugins/materialize-css/js/materialize.js"></script>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    @Html.Partial("_AdminBSBPageLoader")
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    @Html.Partial("_AdminBSBSearchBar")
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    @Html.Partial("_AdminBSBTopBar")
    <!-- #Top Bar -->

    <section>
        <div class="overlay"></div>
        <!-- Left Sidebar -->
        @Html.Partial("_AdminBSBLeftSidebar")
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        @Html.Partial("_AdminBSBRightSidebar")
        <!-- #END# Right Sidebar -->
    </section>

    <div class="clearfix">
        <section class="content" style="margin-top:35px !important">

            @*@Html.Partial("_AdminBSBMain")*@

            <!--------------------------
            | Your Page Content Here |
            -------------------------->

            @RenderBody()

            <div class="modal fade in" id="mdModal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            @*  guess what, this is where you put your ajax fetched content  *@
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn bg-pink waves-effect" data-dismiss="modal">CLOSE</button>*@
                            <button type="button" class="btn bg-pink waves-effect" data-dismiss="modal" data-toggle="tooltip" data-placement="right" title="" data-original-title="Close">
                                <i class="material-icons">close</i>
                                <span>
                                    Close
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--------------------------
    ----| Javascript here  |----
    --------------------------->
    @*@Html.Partial("../Shared/CommonInsertItemPartials/_javascriptSectionBottomPartial")*@


    <!-- Lodash -->
    <script src="~/bower_components/lodash/dist/lodash.min.js"></script>

    <!-- SWAL -->
    <script src="~/bower_components/sweetalert2/dist/sweetalert2.all.js"></script>
    <script src="~/bower_components/sweetalert2/dist/sweetalert2.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/bower_components/Waves/dist/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/bower_components/jquery-countTo/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    @*<script src="~/bower_components/raphael/raphael.js"></script>
        <script src="~/bower_components/morris.js/morris.js"></script>*@

    <!-- ChartJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    @*<script src="~/bower_components/Flot/jquery.flot.js"></script>
        <script src="~/bower_components/Flot/jquery.flot.resize.js"></script>
        <script src="~/bower_components/Flot/jquery.flot.pie.js"></script>
        <script src="~/bower_components/Flot/jquery.flot.categories.js"></script>
        <script src="~/bower_components/Flot/jquery.flot.time.js"></script>*@

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>

    <!-- Select2 Js -->
    <script src="~/bower_components/select2/dist/js/select2.min.js"></script>

    <!-- Bootstrap Datepicker Js -->
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


    <!-- ========== -->
    <!-- DataTables -->
    <!-- ========== -->
    <script src="~/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables/media/js/dataTables.dataTables.min.js"></script>
    @*<script src="~/bower_components/datatables/media/js/dataTables.material.js"></script>*@

    @*<script src="https://cdn.datatables.net/keytable/2.4.1/js/dataTables.keyTable.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>*@

    @*<script src="~/bower_components/datatables-fixedheader/js/dataTables.fixedHeader.js"></script>*@
    @*<script src="~/bower_components/datatables-fixedheader/js/fixedHeader.bootstrap.js"></script>*@

    <script src="~/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/bower_components/datatables-responsive/js/responsive.dataTables.js"></script>
    <script src="~/bower_components/datatables-responsive/js/responsive.bootstrap.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>

    <script src="~/bower_components/jszip/dist/jszip.min.js"></script>

    <script src="~/bower_components/jpdfmake/build/pdfmake.min.js"></script>
    <script src="~/bower_components/jpdfmake/build/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.min.js"></script>

    <!-- ========== -->
    <!-- ========== -->
    <!-- ========== -->
    <!-- Tooltip popovers Js -->
    <script src="~/bower_components/adminbsb-materialdesign/js/pages/ui/tooltips-popovers.js"></script>
    <script src="~/bower_components/moment/min/moment-with-locales.js"></script>

    <!-- Custom Js -->
    <!-- Application specific stuff -->
    <script src="~/Scripts/CommonCRUDScripts/commonCreate.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonDelete.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonDetails.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonEdit.js"></script>
    <script src="~/Scripts/Muuri/muuriWireup.js"></script>
    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/Select2/select2Wireup.js"></script>
    <!-- Boolean checkboxes jQuery override -->
    <script src="~/Scripts/jQueryOverride-boolean-checkboxes.js"></script>
    <!-- Make tables responsive -->
    @*<script src="~/Scripts/makeTableResponsive.js"></script>*@

    <script>
        // SWAL message styling
        swal.setDefaults({
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success w-25 mr-05',
            cancelButtonClass: 'btn btn-secondary w-25 ml-05'
        });
    </script>

</body>
</html>
